@{
    ViewBag.Title = "Create";
}

<h2>Create Supplier</h2>
<form action="/Supplier/Create" method="POST">
    <div>
        <label>Name:</label> <input type="text" name="SupplierName" />
    </div>

    <div>
        <input type="submit" value="Create Supplier" />

    </div>
</form>

